body {
    background: #E5E5E5;
}



.fon {
    /* display: flex;
    flex-direction: column;
    align-items:center; */
    
    width: 280px;
    height: 430px;
    

    background: white;
    box-shadow: 0px 4px 10px rgba (0, 0, 0, 0.1)
    
}

img {
    width: 100%;
    height: 220px;
}

.infoBlock {
padding: 16px;
}
h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 12px 0 5px 0;
}

.zagolovok {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.text {
    font-size: 12px;
    margin: 0 0 21px 0;
}

button {
    width: 120px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 13px;
    font-size: 14px;

}
.blue {
    background-color: #2F80ED;
    border: 0;
    color: #ffff;
}